@font-face {
  font-family: "Roboto";
  src: url("SRoboto-Medium.ttf");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Black.ttf");
  src: local("Roboto Black"), local("Roboto-Black"),
    url("Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Thin.ttf");
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.ttf");
  src: local("Roboto Light"), local("Roboto-Light"),
    url("Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.ttf");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-ExtraBold.ttf");
  src: local("Roboto ExtraBold"), local("Roboto-ExtraBold"),
    url("Roboto-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-ExtraLight.ttf");
  src: local("Roboto ExtraLight"), local("Roboto-ExtraLight"),
    url("Roboto-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-SemiBold.ttf");
  src: local("Roboto Semibold"), local("Roboto-SemiBold"),
    url("Roboto-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
