.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  height: 100%;

  &__icon {
    animation: 1s infinite loading;
    animation-timing-function: linear;
    width: 100px;
    height: 100px;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
