@use "../../../assets/styles/variables.scss" as *;

.burger {
  display: none;
  position: relative;
  width: 31.5px;
  height: 22px;
  cursor: pointer;

  & span,
  &::before,
  &::after {
    display: block;
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.2s ease;
    background-color: $page;
  }

  &.black span,
  &.black::before,
  &.black::after {
    background-color: $bg-dark;
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  & span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  &.activeBurger span {
    transform: scale(0) translate(0px, -50%);
  }

  &.activeBurger::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  &.activeBurger::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  @media (max-width: 375px) {
    display: block;
  }
}
