@use "../../assets/styles/variables.scss" as *;

.header {
  padding: 46px 337px;
  background-color: $page-secondary;
  position: sticky;
  top: 0px;

  &__content {
    display: flex;
    align-items: center;
    gap: 66px;
  }

  &__tabs {
    display: flex;
    gap: 50px;
  }

  .button {
    &.header {
      &__tab {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 1440px) {
    padding: 46px 97px;
  }

  @media (max-width: 1024px) {
    padding: 33px 67px;

    &__logo {
      width: 38px;
      height: 38px;
    }

    .button {
      &.header {
        &__tab {
          font-size: 14px;
        }
      }
    }
  }
}
