@use "../../assets/styles/variables.scss" as *;

.header {
  padding: 46px 337px;
  background-color: $page-secondary;
  position: fixed;
  z-index: 1999;
  width: 100vw;
  top: 0px;

  &__wrapper {
    height: 145px;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 66px;
  }

  &__tabs {
    display: flex;
    gap: 50px;
  }

  .button {
    &.header {
      &__tab {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  &__title {
    display: none;
  }

  &__divider {
    display: none;
  }

  @media (max-width: 1440px) {
    padding: 46px 97px;
  }

  @media (max-width: 1024px) {
    padding: 33px 67px;

    &__wrapper {
      height: 104px;
    }

    &__icon {
      width: 38px;
      height: 38px;
    }

    .button {
      &.header {
        &__tab {
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: 375px) {
    padding: 30px;

    &__wrapper {
      position: relative;
      height: 106px;
    }

    &__content {
      justify-content: space-between;
      background-color: $page-secondary;
    }

    &__logo {
      display: flex;
      align-items: center;
      gap: 7px;
    }

    &__title {
      display: inline-block;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
    }

    &__tabs {
      padding: 0px 30px;
      position: fixed;
      transition: all 0.5s ease;
      flex-direction: column;
      gap: 20px;
      background-color: $page-secondary;
      width: 100vw;
      height: 100vh;
      top: -100vh;
      left: 0px;
      z-index: 10;

      &.active {
        top: 100px;
      }
    }

    &__divider {
      display: block;
      margin-bottom: 22px;
      height: 1px;
      background-color: #cbcbcb;
    }

    &__tab {
      &.button {
        font-size: 40px;
        line-height: 42px;
        text-align: start;
        padding: 0px;
      }
    }

    &__burger {
      &-wrapper {
        padding: 9px 4.25px;
      }
    }
  }
}
