@use "../../assets/styles/variables.scss" as *;
@use "../../assets/styles/mixin.scss" as *;

.footer {
  padding: 88px 337px 86px;
  background-color: $bg-dark;

  &__content {
    @include dis-fl-colm;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.3;
    color: $text-light;
  }

  &__tabs {
    display: flex;
    gap: 70px;
  }

  &__divider {
    background-color: $divider;
    height: 1px;
    width: 100%;
    opacity: 0.25;
  }

  &__copyright {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: $text-gray-copyright;
  }

  &__bottom {
    padding-top: 56px;
  }

  .button {
    &.footer {
      &__tab {
        font-weight: 500;
        color: $text-gray-footer;
        font-size: 18px;
        line-height: 26px;
        white-space: nowrap;

        &:hover {
          color: $text-light;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    padding: 88px 97px 86px;
  }

  @media (max-width: 1024px) {
    padding: 60px 69px;

    &__body {
      padding-bottom: 21px;
    }

    &__title {
      font-size: 21.33px;
    }

    &__icon {
      width: 46px;
      height: 46px;
    }

    &__tabs {
      gap: 50px;
    }

    &__copyright {
      font-size: 12.09px;
      line-height: 17.78px;
    }

    &__bottom {
      padding-top: 40px;
    }

    .button {
      &.footer {
        &__tab {
          font-size: 12.68px;
          line-height: 19.02px;
        }
      }
    }
  }

  @media (max-width: 375px) {
    padding: 52px 24px 40px;

    &__body {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      padding-bottom: 48px;
    }

    &__tabs {
      flex-direction: column;
      gap: 30px;
    }

    &__title {
      font-size: 22px;
      line-height: 24px;
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 26px;
    }

    &__copyright {
      font-size: 14px;
      line-height: 16px;
    }

    .button {
      &.footer {
        &__tab {
          text-align: start;
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }
  }
}
