@use "../../assets/styles/variables.scss" as *;
@use "../../assets/styles/mixin.scss" as *;

.nft-card {
  @include dis-fl-colm;
  justify-content: space-between;
  gap: 20px;
  max-width: 281px;
  width: 100%;
  background-color: $bg-light;
  padding: 14px;
  border-radius: 24px;

  box-shadow: 38px 12px 60px 0px $secondary;

  &__image {
    &-container {
      position: relative;
      display: flex;
      border-radius: 24px;
    }
  }

  &__timer {
    position: absolute;
    border-radius: 10px;
    padding: 10px 14px;
    top: 14px;
    right: 11px;
    font-size: 14px;
    color: $text-light;
    font-weight: 500;
    background-color: #1c1d2059;
    border: 1px solid #1c1d2014;
  }

  &__content {
    @include dis-fl-colm;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &-item {
      @include dis-fl-colm;
      gap: 4px;
    }

    &-label {
      color: $text-secondary;
      white-space: nowrap;
      font-size: 14px;
    }

    &-value {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;
    }

    & .button {
      &.nft-card {
        &__btn {
          font-size: 14px;
          line-height: 1.5;
          padding: 14.5px 25px;
          width: auto;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    max-width: 210px;
    gap: 14px;
    padding: 10px;
    border-radius: 18px;

    &__content {
      gap: 14px;
    }

    &__image {
      height: 190px;
      width: 190px;
    }

    &__timer {
      padding: 7px 10px;
      font-size: 10px;
      line-height: 1;
    }

    &__title {
      font-size: 16px;
      line-height: 18px;
    }

    &__info {
      gap: 10px;

      &-item {
        @include dis-fl-colm;
        gap: 7px;
      }

      &-label {
        font-size: 11px;
        line-height: 11px;
      }

      &-icon {
        width: 16px;
        height: 16px;
      }

      &-value {
        font-size: 12px;
        line-height: 14px;
        gap: 3px;
      }

      & .button {
        &.nft-card {
          &__btn {
            font-size: 11px;
            line-height: 17px;
            padding: 10.5px 17.5px;
            height: fit-content;
          }
        }
      }
    }
  }
}
