@use "variables" as *;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  min-height: 100vh;
  overflow: auto;
  transition: all 0.3s ease;
  background-color: $page;

  * {
    transition: all 0.125s ease;
    user-select: none;
    outline: none;
    line-height: 16px;
    font-size: 15px;
    color: $text-dark;
  }
}

#root {
  display: flex;
  flex-direction: column;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

// убираем голубую подсветку элементов при нажатии
* {
  -webkit-tap-highlight-color: transparent;
}

p {
  margin: 0;
  margin-bottom: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px $text-light inset !important;
}

input,
textarea,
select,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button {
  display: inline-block;
  padding: 0;

  font-family: inherit;
  text-decoration: none;
  text-align: center;

  border-radius: 4px;

  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
