@use "variables";
@use "normalize";
@use "fonts";
@use "core";

// Components
@use "../../components/NftCard/NftCard.scss";
@use "../../components/Slider/Slider.scss";
@use "../../components/Header/Header.scss";
@use "../../components/Footer/Footer.scss";


// Base Components
@use "../../components/base/Button";

// Pages
@use "../../pages/App/App.scss";
