/* typography */
$text-dark: #141416;
$text-dark-secondary: #000a14;
$text-light: #ffffff;
$text-secondary: #94a3b8;
$text-gray: #667085;
$text-gray-secondary: #95a1ae;

/* background */
$page: #f1f1f1;
$page-blue: #122030;
$bg-dark: #141416;
$bg-light: #ffffff;
$bg-secondary: #fcfcfd;
$accent: #1a8f46;
$red: #f05651;
$red-light: #ff7975;
$accent-light: #30b362;
$secondary: #c7c7c799;
$page-secondary: #f9fafb;
$border-secondary: #f2f4f7;
$border-color: #334155;
$dark-light: rgba(60, 60, 67, 0.6);
$gray: #b3b9be;
$gray-secondary: #e6e8ec;
