@use "../../assets/styles/variables.scss" as *;
@use "../../assets/styles/mixin.scss" as *;

.slider {
  @include dis-fl-colm;
  position: relative;
  width: 100%;
  gap: 70px;
  overflow-x: hidden;
  padding-bottom: 70px;

  &__title {
    font-weight: 600;
    font-size: 46px;
    line-height: 48px;
    color: $text-gray-title;
    margin-top: 70px;
    text-align: center;
  }

  &__track {
    position: absolute;
    left: 0;
    display: flex;
    gap: 40px;
  }

  &__controls {
    display: flex;
    align-items: center;
    align-self: center;
    background-color: $bg-secondary;
    border-radius: 17px;
    width: fit-content;

    box-shadow: 0px 43px 34px -25.87px #0f0f0f1f;
  }

  &__nav {
    &__icon {
      display: flex;
    }
  }

  &__divider {
    background-color: $gray-secondary;
    height: 24px;
    width: 2px;
  }

  & .button {
    &.slider {
      &__nav {
        width: auto;
        padding: 20px 0px;
        line-height: initial;
        border-radius: 17px;

        &--next {
          padding-left: 30px;
          padding-right: 28px;
        }

        &--prev {
          padding-left: 28px;
          padding-right: 30px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    gap: 50px;
    padding-bottom: 50px;

    &__title {
      font-size: 32px;
      line-height: 36px;
      margin-top: 50px;
    }

    &__track {
      gap: 32px;
    }

    &__controls {
      border-radius: 13px;
    }

    & .button {
      &.slider {
        &__nav {
          padding: 15px 0px;
          border-radius: 13px;

          &--next {
            padding-left: 22px;
            padding-right: 21px;
          }

          &--prev {
            padding-left: 21px;
            padding-right: 22px;
          }
        }
      }
    }

    &__nav {
      &__icon {
        width: 18px;
        height: 18px;
      }
    }
  }
}
